* {
  padding: 0;
  margin: 0;
}
body {
  .pr {
    position: relative;
  }

  .pa {
    position: absolute;
  }
  .pf {
    position: fixed;
  }

  .b {
    font-weight: 600;
  }

  .p5 {
    padding: 5px;
  }

  .p10 {
    padding: 10px;
  }

  .p15 {
    padding: 15px;
  }

  .p20 {
    padding: 20px;
  }

  .pt5 {
    padding-top: 5px;
  }

  .pl5 {
    padding-left: 5px;
  }

  .pt10 {
    padding-top: 10px;
  }

  .pl10 {
    padding-left: 10px;
  }

  .pr10 {
    padding-right: 10px;
  }

  .pb10 {
    padding-bottom: 10px;
  }

  .pt20 {
    padding-top: 20px;
  }

  .pl20 {
    padding-left: 20px;
  }

  .pr20 {
    padding-right: 20px;
  }

  .pb20 {
    padding-bottom: 20px;
  }

  .pt15 {
    padding-top: 15px;
  }

  .pb15 {
    padding-bottom: 15px;
  }

  .pl30 {
    padding-left: 30px;
  }

  .m0 {
    margin: 0px;
  }

  .m5 {
    margin: 5px;
  }

  .m10 {
    margin: 10px;
  }

  .m20 {
    margin: 20px;
  }

  .ml2 {
    margin-left: 2px;
  }

  .ml5 {
    margin-left: 5px;
  }

  .ml10 {
    margin-left: 10px;
  }

  .ml20 {
    margin-left: 20px;
  }

  .ml30 {
    margin-left: 30px;
  }

  .mr2 {
    margin-right: 2px;
  }

  .mr5 {
    margin-right: 5px;
  }

  .mr10 {
    margin-right: 10px!important;
  }

  .mr20 {
    margin-right: 20px!important;
  }

  .mt5 {
    margin-top: 5px;
  }

  .mt10 {
    margin-top: 10px;
  }

  .mt15 {
    margin-top: 15px;
  }

  .mt20 {
    margin-top: 20px;
  }

  .mt30 {
    margin-top: 30px;
  }

  .mt40 {
    margin-top: 40px;
  }

  .mb2 {
    margin-bottom: 2px;
  }

  .mb5 {
    margin-bottom: 5px;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .mb15 {
    margin-bottom: 15px;
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .mb50 {
    margin-bottom: 50px;
  }

  .w20 {
    width: 20px;
  }

  .w30 {
    width: 30px;
  }

  .w50 {
    width: 50px;
  }

  .w80 {
    width: 80px;
  }

  .w100 {
    width: 100px;
  }

  .wp80 {
    width: 80%;
  }

  .wp100 {
    width: 100%;
  }

  .w120 {
    width: 120px;
  }

  .w150 {
    width: 150px;
  }

  .w160 {
    width: 160px;
  }

  .w180 {
    width: 180px;
  }

  .w200 {
    width: 200px!important;
  }

  .w240 {
    width: 240px!important;
  }

  .w300 {
    width: 300px;
  }

  .w400 {
    width: 400px;
  }

  .h100 {
    height: 100px;
  }

  .h200 {
    height: 200px;
  }

  .h300 {
    height: 300px;
  }

  .h400 {
    height: 400px;
  }

  .tc {
    text-align: center;
  }

  .tl {
    text-align: left;
  }

  .tr {
    text-align: right;
  }

  .color_gray {
    color: #ccc;
  }

  .f12 {
    font-size: 12px;
  }

  .f13 {
    font-size: 13px;
  }

  .f14 {
    font-size: 14px;
  }

  .f16 {
    font-size: 16px;
  }

  .f18 {
    font-size: 18px;
  }

  .f20 {
    font-size: 20px;
  }

  .f24 {
    font-size: 24px;
  }

  .ls2 {
    letter-spacing: 2px;
  }

  .hand {
    cursor: pointer;
  }

  .red {
    color: #F56C6C;
  }

  .success {
    color: #39AF59;
  }

  .blue {
    color: #1890FF;
  }

  .orange {
    color: #FAAD14;
  }

  .dib {
    display: inline-block;
  }

  .df {
    display: flex;
  }

  .dn {
    display: none;
  }

  .fd_c {
    flex-direction: column;
  }

  .ai_c {
    align-items: center;
  }
  .ai_b {
    align-items: baseline!important;
  }

  .jc_c {
    justify-content: center;
  }

  .jc_fe {
    justify-content: flex-end;
  }

  .jc_sb {
    justify-content: space-between;
  }

  .jc_sa {
    justify-content: space-around;
  }
  .jc_se {
    justify-content: space-evenly;
  }

  .fww {
    flex-wrap: wrap;
  }

  .flex1 {
    flex: 1;
  }

  .flex2 {
    flex: 2;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .lh1 {
    line-height: 1;
  }

  .lh14 {
    line-height: 14px !important;
  }

  .lh16 {
    line-height: 16px;
  }

  .lh20 {
    line-height: 20px;
  }

  .lh28 {
    line-height: 28px;
  }

  .lh40 {
    line-height: 40px;
  }

  .c9 {
    color: #999;
  }

  .c2 {
    color: #222;
  }

  .c6 {
    color: #666;
  }

  .ce2 {
    color: #E2E2E2;
  }

  .wba {
    word-break: break-all;
  }

  .vh {
    visibility: hidden;
  }

  .bb1 {
    border-bottom: 1px solid #E9E9E9;
  }

  .bt1 {
    border-top: 1px solid #E9E9E9;
  }

  .clearfix:after,
  .clearfix:before {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1;
  }

  .blue-btn {
    padding: 6px 10px;
    height: 30px;
    border-width: 1px;
    display: inline-block;
    border: 1px solid #1CA9FF;
    line-height: 17px;
    border-radius: 4px;
    font-size: 12px;
    color: #1CA9FF;
    cursor: pointer;
  }

  .blue-btn.disabled {
    border-color: #ccc;
    color: #ccc;
  }

  .warn-btn {
    border: 1px solid #ff7300;
    color: #FF7300;
    border-radius: 4px;
    padding: 5px 10px;
    padding-right: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 17px;
    position: relative;
  }

  .btn-close {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
  }

  .btn {
    border: 0px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    padding: 8px 10px;
    cursor: pointer;

    i,
    .svg-icon {
      margin-right: 4px;
    }
  }

  .purple-btn {
    background: #6E7BD8;
    color: #fff;
    border-color: #6E7BD8;
  }

  .orange-btn {
    background: #F25D1D;
    color: #fff;
    border-color: #F25D1D;
  }

  .blue-btn1 {
    background: #62A7F8;
    color: #fff;
    border-color: #62A7F8;
  }

  .b1 {
    border: 1px solid #D1D6DF;
  }

  .h1 {
    height: 1px;
    background: #e6e6e6;
  }

  .bg_blue {
    border: .5px solid rgba(30, 126, 238, 0.43);
    background: rgba(2, 16, 57, 0.43);
    border-radius: 4px;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;
  }

  [class^=el-icon-]+[class^=el-icon-] {
    margin-left: 20px;
  }

  .svg-icon+[class^=el-icon-] {
    margin-left: 20px;
  }

  [class^=el-icon-]+.svg-icon {
    margin-left: 20px;
  }

  .svg-icon+.svg-icon {
    margin-left: 20px;
  }
  .point {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
  }

  // 重写部分element样式
  .searchInput .el-input__suffix-inner {
    line-height: 32px;

    [class^=el-icon-]+[class^=el-icon-] {
      margin-left: 5px;
    }
  }
  .el-button--success {
    background-color: #39B05A;
    border-color: #39B05A;
  }
  .el-button--success:focus, .el-button--success:hover, .el-button--success.is-plain:focus, .el-button--success.is-plain:hover {
    background: #39B05A;
    border-color: #39B05A;
    color: #FFF;
  }
  .el-button--success.is-plain {
    color: #39B05A;
    background: #f0f9eb;
    border-color: #39B05A;
  }
  .el-link {
    font-size: 12px;
  }
  // 下拉框的下拉部分不显示
  .el-select-dropdown_none {
    display: none;
  }
  // drawer css
  .el-drawer__header {
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    padding: 10px 20px;
  }
  .drawer_footer {
    padding: 10px 20px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
  }
}

ul, li {
  list-style: none;
}
