html, body, #app {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  div, header, main {box-sizing: border-box!important;}
  .sidebar-container {
    .el-menu {
      border: none;
    }
    .svg-icon {
      margin-right: 16px;
    }
  
  }
  .pre-icon {
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 1;
  }
  .pre-icon:hover {
    color: #1890ff;
  }
  .json_item {
    background: #e3f2fd;
    padding: 0 8px;
    margin-bottom: 8px;
    color: #555;
    font-size: 12px;
  }
  .disabledDiv {
    color: #c1c1c1;
    border-color: #f5f5f5;
    background-color: #f7f7f7;
    cursor: not-allowed;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
  }
  .login-con {
    max-width: 1200px;
    justify-content: space-around;
    margin: 100px auto;
    .showImg {
      width: 40%;
      height: 380px;
      background-image: url("../../assets/imgs/timg.png");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .form-con {
      width: 40%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0 2px 15px rgba(0,0,0,.15);
      padding: 20px;
    }
  }
  .login-con1 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    .form-con {
      width: 388px;
      height: 378px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0 2px 15px rgba(0,0,0,.15);
      padding: 20px;
      background-color: #fff;
      margin-right: 200px;
    }
  }
}
